{% extends "app/layout.html" %}

{% block content %}

  <main role="main">
    <br>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
            <h1 class="display-3">Welcome to Stock Predictor</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
    {% for ip in all %}
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ip.source.name}}</h5>
                <small>{{ip.publishedAt}}</small>
            </div>
            <p class="mb-1">{{ip.description}}.</p>
            <small>by {{ip.author}}</small>
            </a>
        </div>
    {% endfor %}
    <script>
      {% block jquery %}
      var endpoint = '/api/chart/data/'
      var defaultData = []
      var labels = [];
      var news = [];

    $.ajax({
          method: "GET",
          url: endpoint,
          success: function(alldata){
              defaultData = alldata.default                  
              setChart()
          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
      })
      
      var trace1 = {
        x: defaultData.dates, 
        close: defaultData.close, 
        decreasing: {line: {color: '#7F7F7F'}}, 
        high:  defaultData.high,
        increasing: {line: {color: '#17BECF'}}, 
        line: {color: 'rgba(31,119,180,1)'}, 
        low:  defaultData.low,
        open:  defaultData.open,
        type: 'candlestick', 
        xaxis: 'x', 
        yaxis: 'y'
        };

        var data = [trace1];

        var layout = {
        dragmode: 'zoom', 
        margin: {
            r: 10, 
            t: 25, 
            b: 40, 
            l: 60
        }, 
        showlegend: true, 
        xaxis: {
            autorange: true, 
            domain: [0, 1], 
            range: labels,
            title: 'Date', 
            type: 'date'
        }, 
        yaxis: {
            autorange: true, 
            domain: [0, 1], 
            range: [114.609999778, 137.410004222], 
            type: 'linear'
        }
        };

        Plotly.plot('plotly-div', data, layout);
    }    

    {% endblock %}          
    </script>
    <div id="plotly-div"></div>
</main>
{% endblock %}