{% extends "app/layout.html" %}

{% block content %}

{{val}}    

  <script>
      {% block jquery %}
      var endpoint = '/api/chart/data/'
      var defaultData = [];
      var news = [];
      $.ajax({
          method: "GET",
          url: endpoint,
          success: function(alldata){
              defaultData = alldata.default                  
              setChart()
          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
      })
      
      function setChart(){
        var trace1 = {
        x: defaultData.date, 
        close: defaultData.close, 
        decreasing: {line: {color: '#7F7F7F'}}, 
        high:  defaultData.high,
        increasing: {line: {color: '#17BECF'}}, 
        line: {color: 'rgba(31,119,180,1)'}, 
        low:  defaultData.low,
        open:  defaultData.open,
        type: 'candlestick', 
        xaxis: 'x', 
        yaxis: 'y'
        };

        var data = [trace1];

        var layout = {
        dragmode: 'zoom', 
        margin: {
            r: 10, 
            t: 25, 
            b: 40, 
            l: 60
        }, 
        showlegend: false, 
        xaxis: {
            autorange: true, 
            domain: [0, 1], 
            range: ['1995-01-03 12:00', '2017-02-15 12:00'],
            title: 'Date', 
            type: 'date'
        }, 
        yaxis: {
            autorange: true, 
            domain: [0, 1], 
            range: [114.609999778, 137.410004222], 
            type: 'linear'
        }
        };

        Plotly.plot('plotly-div', data, layout);    
    }
    {% endblock %}          
</script>
<div id="plotly-div"></div>
<div id="myDiv"></div>
<div id="news">
    {% for ip in allnews %}
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ip.source.name}}</h5>
                <small>{{ip.publishedAt}}</small>
            </div>
            <p class="mb-1">{{ip.description}}.</p>
            <small>by {{ip.author}}</small>
            </a>
        </div>
    {% endfor %}
</div>
    
{% endblock %}